<!--
    This template is used to demonstrate Esko Luontola's technique of
    asserting against a visual representation of the HTML content
 -->
<ul class="todo-list">
    {{ range .model.AllItems }}
    <li class="{{ if .IsCompleted }}completed{{ end }}">
        <div class="view">
            <input
                    data-hx-post="/toggle/{{ .Id }}"
                    data-hx-target="section.todoapp"
                    data-hx-swap="outerHTML"
                    id="checkbox-{{ .Id }}"
                    class="toggle"
                    type="checkbox"
                    data-test-icon="{{ if .IsCompleted }}✅{{ else }}⬜{{ end }}">
            <label for="checkbox-{{ .Id }}">{{ .Title }}</label>
            <button class="destroy" data-test-icon="❌️"></button>
        </div>
    </li>
    {{ end }}
</ul>
