<ul class="todo-list">
        {{ #model.allItems }}
        <li class="{{ #isCompleted }}completed{{ /isCompleted }}">
                <div class="view">
                        <input
                                data-hx-post="/toggle/{{ id }}"
                                data-hx-target="section.todoapp"
                                data-hx-swap="outerHTML"
                                id="checkbox-{{ id }}"
                                class="toggle"
                                type="checkbox"
                                data-test-icon="{{ #isCompleted }}☑{{ /isCompleted }}{{ ^isCompleted }}☐{{ /isCompleted }}">
                        <label for="checkbox-{{ id }}">{{ title }}</label>
                        <button class="destroy" data-test-icon="🗑️"></button>
                </div>
        </li>
        {{ /model.allItems }}
</ul>
